
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello from food-fight.com, <%= @user.name %></h1>
    <p>
      We have a new challenge posted today! Visit food-fight.com and log in to join!
    </p>

    <p>Thanks for playing and have a fun day!</p>
  </body>
</html>
